.bread-crumb {
  padding-top: calc(15px + (25 - 15) * ((100vw - 375px) / (1920 - 375)));

  &__box {
    display: flex;
  }

  &__iterm {
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 375)));
    &:not(:first-child) {
      position: relative;
      padding-left: 15px;
      &::before {
        content: "/";
        position: absolute;
        left: 0;
      }
    }

    &--step {
      color: #8f8f8e;
    }
  }

  &__link {
    @include mukuta-400;
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 375)));
    color: inherit;
    margin-right: 5px;
  }
}
