.footer{
 
  
  
}

.footer__wrap {
   background-color: $colorInDarkFhone;
}
.footer__logo-wrap {
}
.footer__logo {
}
.footer__logo-img {
}
.footer__menu-wrap {
}
.footer__menu {
}
.footer__item {
  color: red;
}
.footer__item-link {
}
.footer__social {
}
.footer__link {
}
.footer__icon {
}
.footer__link-icon {
}
.footer__btn {
  color: red;
}
.footer__coppy {
}