.marketing {
  padding-top: 100px;
  @include _1920 {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__slogan {
    margin-bottom: 50px;
  }

  &__wrap {
    background-color: $colorAcent;
    padding: 15px;
    filter: drop-shadow(30px 0 0 $colorAcent);
    box-shadow: -30px 0 0 0 $colorAcent;
    @include _767 {
      padding: 15px 0;
    }

    @include _1024 {
      padding: 50px 0;
    }

    @include _1400 {
      filter: drop-shadow(220px 0 0 $colorAcent);
      box-shadow: -220px 0 0 0 $colorAcent;
    }
  }

  &__card-box {
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 15px;

    &::after {
      position: absolute;
      content: "";
      background-color: #fff;
      width: 50%;
      height: 2px;
      bottom: 2px;
      box-shadow: -25px 0 0 0 $colorInDarkFon;
      z-index: 5;
      @include _767 {
        box-shadow: -15px 0 0 0 $colorInDarkFon;
      }
      @include _1400 {
        box-shadow: -220px 0 0 0 $colorInDarkFon;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: $colorInDarkFon;
      right: 50%;
      bottom: 0;
      rotate: 45deg;
    }

    &:nth-child(even) {
      &::after {
        height: 2px;
        box-shadow: none;
        filter: drop-shadow(25px 0 0 $colorInDarkFon);
        right: 0;

        @include _767 {
          filter: drop-shadow(15px 0 0 $colorInDarkFon);
        }

        @include _1400 {
          filter: drop-shadow(220px 0 0 $colorInDarkFon);
        }
      }
    }

    &:nth-child(3) {
      padding-bottom: 0;
      &::after {
        width: 0;
      }

      &::before {
        width: 0;
        height: 0;
      }
    }

    @include _1024 {
      padding-bottom: 50px;
      margin-bottom: 50px;
    }
  }

  &__card-title {
    @include mukuta-500;
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1920 - 375)));
    text-align: center;
    color: $colorBorder;
    margin-bottom: 15px;
    @include _767 {
      text-align: left;
    }
    @include _1024 {
      margin-bottom: 25px;
    }
  }

  &__card-descr {
    text-align: center;
    color: #fff;
    width: calc(251px + (975 - 251) * ((100vw - 375px) / (1920 - 375)));
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 375)));

    @include _767 {
      text-align: left;
    }
    @include _1024 {
      margin-bottom: 25px;
    }
  }

  &__btn-inner {
    display: flex;
    justify-content: center;
  }

  &__btn {
    font-size: 24px;
    @include mukuta-700;
    display: flex;
    align-items: center;
    svg {
      width: 30px;
      height: 30px;
      margin-left: 15px;
    }
  }
}

.cards {
  display: grid;
  gap: 15px;
  @include _767 {
    grid-template-columns: repeat(2, 1fr);
  }
  @include _1200 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card-item {
  position: relative;
  min-width: calc(293px + (431 - 293) * ((100vw - 375px) / (1920 - 375)));
  border-radius: 32px;
  background-color: $colorInDarkFon;
  padding: 16px 21px 20px;
  overflow: hidden;
  margin: 0 auto;

  @include _767 {
    margin-left: 0;
  }

  &__inner {
    display: flex;
  }

  &__top {
    max-width: 100%;
    width: 100%;
    flex-basis: 2;
  }
  &__discount {
    position: absolute;
    width: calc(70px + (100 - 70) * ((100vw - 375px) / (1920 - 375)));
    height: calc(70px + (100 - 70) * ((100vw - 375px) / (1920 - 375)));
    background-color: $colorBorder;
    color: #fff;
    font-size: 15px;
    right: -1px;
    top: 0;
    padding: 12px;
    display: flex;
    justify-content: flex-end;

    &::before {
      position: absolute;
      content: "";
      clip-path: polygon(0 0, 0% 101%, 101% 101%);
      background-color: $colorInDarkFon;
      left: -1px;
      bottom: -1px;
      width: calc(71px + (101 - 71) * ((100vw - 375px) / (1920 - 375)));
      height: calc(71px + (101 - 71) * ((100vw - 375px) / (1920 - 375)));
    }
  }
  &__img {
    width: calc(25px + (50 - 25) * ((100vw - 375px) / (1920 - 375)));
    height: calc(25px + (50 - 25) * ((100vw - 375px) / (1920 - 375)));
    margin: 0 auto 15px;
  }

  &__caption {
    @include mukuta-500;
    font-size: 20px;
  }

  &__text {
    max-width: 251px;
    font-size: 15px;
  }

  &__link-box {
    display: flex;
    justify-content: center;
  }

  &__link {
    position: relative;
    font-size: 15px;
    @include mukuta-500;
    border: 1px solid $colorBorder;
    padding: 3px 38px 3px 18px;
    border-radius: 16px;
    color: $colorAcent;
    margin: 0 auto;
    svg {
      position: absolute;
      width: 15px;
      height: 15px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
