.single-blog {
  margin-top: 15px;
  .single-blog__img {
    margin-bottom: 15px;
    @include _1024 {
      margin-bottom: 25px;
    }
  }
  .single-blog__img img {
    width: 100%;
    object-fit: cover;
    height: calc(227px + (650 - 227) * ((100vw - 375px) / (1920 - 375)));
    border-radius: 16px;
  }
  .blog-article__box {
    display: flex;
    justify-content: flex-end;
  }
  .content-container__wrapper {
    @include _1400 {
      position: relative;
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        background-image: url("../images/icon/blog-title.svg");
        background-repeat: no-repeat;
        max-width: 288px;
        width: 100%;
        height: 175px;
      }
      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
    }
  }
  .content-container {
    position: relative;
    z-index: 1;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
  }
  //   style for ol and ul
  ul > li {
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 375)));
    padding-left: 40px;
    margin-bottom: 15px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      width: 20px;
      height: 20px;
      background-image: url("../images/icon/circle-li.svg");
    }
  }
  ol {
    padding-left: 20px;
  }
  ol > li {
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 375)));
    list-style-type: decimal;
    margin-bottom: 15px;
    padding-left: 15px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    color: $colorBtn;
  }
  .list-tags {
    margin-top: calc(15px + (50 - 15) * ((100vw - 375px) / (1920 - 375)));
    margin-bottom: 30px;
    li::before {
      width: 0;
      height: 0;
    }
  }
  .content-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content-view {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: calc(16px + (20 - 16) * ((100vw - 375px) / (1920 - 375)));
    color: $bradcrumbs-color;
  }
  .content-share {
    display: flex;
    gap: calc(5px + (15 - 5) * ((100vw - 375px) / (1920 - 375)));
  }
  .content-shar__item {
    padding-left: 0;
    &::before {
      width: 0;
      height: 0;
    }
  }
}

.most-popular {
  margin-bottom: 50px;
  @include _767 {
    margin-bottom: 75px;
  }
  @include _1024 {
    margin-bottom: 100px;
  }
  &__title {
    font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (1920 - 375)));
    @include mukuta-500;
    color: $colorBorder;
    margin-bottom: 25px;
  }
  &__img {
    max-width: calc(173px + (230 - 173) * ((100vw - 375px) / (1920 - 375)));
    width: 100%;
    height: calc(164px + (267 - 164) * ((100vw - 375px) / (1920 - 375)));
    object-fit: cover;
    border-radius: 16px;
  }

  .swiper-wrapper {
    max-width: 650px;
    height: auto;
  }
  &__box {
    display: flex;
    gap: calc(10px + (26 - 10) * ((100vw - 375px) / (1920 - 375)));
  }
  &__article {
    max-width: 745px;
    width: 100%;
    @include _1024 {
      cursor: pointer;
    }
  }
  &__sumary {
    max-width: 340px;
    min-height: 110px;
  }
  &__swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .most-popular__imginner {
    display: flex;
    flex-direction: column;
    max-width: calc(173px + (230 - 173) * ((100vw - 375px) / (1920 - 375)));
    width: 100%;
    flex-shrink: 0;
  }
  .blog-article__box {
    display: none;
    @include _1024 {
      display: flex;
    }
    &.mobbile {
      display: flex;
      font-size: 13px;
      margin-top: 20px;
      @include _1024 {
        display: none;
      }
    }
  }
  .most-popular__pagintation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    margin-top: calc(23px + (67 - 23) * ((100vw - 375px) / (1920 - 375)));
  }
  .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
    &.swiper-pagination-bullet-active{
      width: 25px;
      height: 25px;
      background-color: $colorBorder;
      border: transparent;
    }
  }
  
}
