.collapse-enter-active,
.collapse-leave-active {
  transition: 200ms ease-in-out;
  overflow: hidden;
}
.collapse-enter-to,
.collapse-leave-from {
  height: var(--ui-transition-height);
}
.collapse-enter-from,
.collapse-leave-to {
  opacity: 0;
  height: 0;
}

.accordion {
  margin: 0 auto;
  display: grid;
  gap: 15px;
  max-width: 355px;
  width: 100%;

  @include _1024 {
    max-width: 750px;
  }

  @include _1400 {
    max-width: 998px;
  }
}

.accordion-item {
  &.ui-active {
    border-radius: 32px 32px 0 0;
  }
}

.accordion-tab {
  display: flex;
  border: transparent;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  background-color: $colorAcent;
  color: $colorInDarkFon;
  padding: 8px 15px;
  width: 100%;
  @include mukuta-500;
  font-size: 20px;
  transform: translateY(1px);

  @include _1024 {
    font-size: 24px;
    padding: 9px 15px;
  }

  @include _1200 {
    font-size: 28px;
  }

  @include _1400 {
    font-size: 32px;
    padding: 11px 15px;
  }

  & svg {
    transition: transform 150ms;
    width: 30px;
    height: 30px;
  }

  &.ui-active svg {
    transform: scaleY(-1);
  }

  &.ui-active {
    border-radius: 32px 32px 0 0;
  }
}

.accordion-panel {
  background-color: $colorAcent;
  border-radius: 0px 0px 32px 32px;
  padding: 18px 15px 15px;
  color: $colorInDarkFon;
}
