@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

* {
  scroll-behavior: smooth;
}

:root {
  --transition-speed: 0.3s ease-out;
}


#up {
  border-radius: 50%;
  width: calc(50px + (80 - 50) * ((100vw - 375px) / (1920 - 375)));
  height: calc(50px + (80 - 50) * ((100vw - 375px) / (1920 - 375)));
  background-color: $colorBorder;
  color: #fff;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 1px 5px 5px rgba(0, 0, 0, 0.5);
  transition: var(--transition-speed);
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  z-index: 999;
}

#up:hover {
  background-color: rgb(156, 1, 32);
}
.up-arrow {

  p{
    margin: auto;
  }
}
