html,
body {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  color: $colorAcent;
  font-size: 16px;
  line-height: 1.38;
  height: 100%;
  @include hind-400;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1510px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  @include _767 {
    padding: 0 15px;
  }
}

//btn modal
.btn {
  background-color: $colorBtn;
  color: $colorInDarkFon;
  font-size: 20px;
  @include mukuta-500;
  border-radius: 16px;
  padding: 5px 32px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  z-index: 1;
  overflow: hidden;
  @include _767 {
    padding: 5px 50px;
    font-size: 24px;
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: $colorBorder;
      border-radius: 16px;
      transition: all 0.3s ease;
    }
    &:hover {
      color: #fff;
    }
    &:hover:after {
      left: 0;
      width: 100%;
    }
    &:active {
      top: 2px;
    }
  }
}


