html,
body {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  color: $colorAcent;
  font-size: 16px;
  line-height: 1.38;
  height: 100%;
  @include hind-400;

  @include _1024 {
    font-size: 18px;
  }

  @include _1400 {
    font-size: 20px;
  }

  @include _1920 {
    font-size: 24px;
  }
}

.main {
  flex-grow: 1;
  margin-top: 80px;
  @include _1024 {
    margin-top: 97px;
  }
}

.container-big {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  @include _767 {
    padding: 0 15px;
  }
}
.container-big {
  width: 100%;
  max-width: 1920px;
}

//btn modal
.btn {
  background-color: $colorBtn;
  color: $colorInDarkFon;
  font-size: 20px;
  @include mukuta-500;
  border-radius: 16px;
  padding: 5px 32px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  z-index: 1;
  overflow: hidden;
  @include _767 {
    padding: 5px 50px;
    font-size: 24px;
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: $colorBorder;
      border-radius: 16px;
      transition: all 0.3s ease;
    }
    &:hover {
      color: #fff;
    }
    &:hover:after {
      left: 0;
      width: 100%;
    }
    &:active {
      top: 2px;
    }
  }
}

.title {
  @include mukuta-500;
  font-size: 24px;

  @include _767 {
    font-size: 28px;
  }

  @include _1024 {
    font-size: 30px;
  }

  @include _1200 {
    font-size: 32px;
  }

  @include _1400 {
    font-size: 36px;
  }

  @include _1920 {
    font-size: 40px;
  }
}

.showcase-item {
  background-color: $colorInDarkFon;
  padding-top: calc(25px + (50 - 25) * ((100vw - 375px) / (1920 - 375)));
  padding-bottom: calc(27px + (50 - 27) * ((100vw - 375px) / (1920 - 375)));
  max-width: calc(335px + (743 - 335) * ((100vw - 375px) / (1920 - 375)));
  width: 100%;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(255, 0, 0, 0.5);
  &__img {
    border-radius: 16px;
    max-width: calc(260px + (743 - 500) * ((100vw - 375px) / (1920 - 375)));
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  &__title {
    color: $colorAcent;
    font-size: calc(20px + (32 - 20) * ((100vw - 375px) / (1920 - 375)));
    @include mukuta-500;
    text-align: center;
    margin-bottom: 23px;
    padding: 0 10px;
    @include _767 {
      padding: 0 15px;
    }
  }
  .showcase-itembox {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  &__date {
    color: $bradcrumbs-color;
    font-size: calc(16px + (25 - 16) * ((100vw - 375px) / (1920 - 375)));
  }
  &-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 32px;
    background: $colorInDarkFon;
    border: 1.5px solid $colorBorder;
    padding: 1px 0;
    padding-left: calc(15px + (50 - 15) * ((100vw - 375px) / (1920 - 375)));
    padding-right: calc(15px + (50 - 15) * ((100vw - 375px) / (1920 - 375)));
    @include mukuta-400;
    font-size: calc(14px + (20 - 14) * ((100vw - 375px) / (1920 - 375)));
    color: $colorAcent;
    transition: all 0.5s;
    & svg {
      transform: translateX(0);
    }
    @include _1024 {
      &:hover {
        transition: all 0.5;
        border: 1.5px solid $colorInDarkFon;
        background-color: $colorBorder;
        color: $colorInDarkFon;
        & svg {
          transform: translateX(5px);
          path {
            fill: $colorInDarkFon;
            stroke: $colorInDarkFon;
          }
        }
      }
    }
  }
}
.blog-article__box {
  display: flex;
  align-items: center;
  margin-bottom: calc(15px + (25 - 15) * ((100vw - 375px) / (1920 - 375)));
  font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1920 - 375)));
  color: $bradcrumbs-color;
  gap: 3px;
}
.list-tags {
  display: flex;
  flex-wrap: wrap;
  gap: calc(15px + (25 - 15) * ((100vw - 375px) / (1920 - 375)));
  .tag {
    padding-left: calc(20px + (30 - 20) * ((100vw - 375px) / (1920 - 375)));
    padding-right: calc(20px + (30 - 20) * ((100vw - 375px) / (1920 - 375)));
    border-radius: 8px;
    background: $colorBtn;
    color: $colorInDarkFon;
    font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1920 - 375)));
    cursor: pointer;
    & a {
      color: $colorInDarkFon;
    }
  }
}

.pagination {
  margin: 0 auto;
  &__items {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  &__item-prev,
  &__item-next {
    width: 50px;
    height: 50px;
    cursor: pointer;
    @include _1024 {
      &:hover {
        svg path {
          fill: $colorBorder;
        }
      }
    }
  }
  &__item {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    @include _1024 {
      &:hover {
        background-color: $bradcrumbs-color;
        .pagination__item-link {
          color: #fff;
        }
      }
    }
    &.current {
      border: #fff;
      background-color: $colorBorder;
      .pagination__item-link {
        color: $colorInDarkFon;
      }
    }

    &-link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: #000;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include mukuta-500;
}
h1 {
  font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (1920 - 375)));
}
h2 {
  font-size: calc(22px + (32 - 22) * ((100vw - 375px) / (1920 - 375)));
}
h3 {
  font-size: calc(18px + (24 - 18) * ((100vw - 375px) / (1920 - 375)));
}
h4 {
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 375)));
}
h5 {
  font-size: calc(10px + (12 - 10) * ((100vw - 375px) / (1920 - 375)));
}
h6 {
  font-size: calc(10px + (8 - 10) * ((100vw - 375px) / (1920 - 375)));
}

p {
  font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 375)));
  margin-bottom: 15px;
}
