
@mixin _767 {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin _1024 {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin _1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin _1400 {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin _1920 {
  @media (min-width: 1920px) {
    @content;
  }
}




//Fonts family

@mixin ubuntu-400 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

@mixin hind-300 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
}

@mixin hind-400 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
}

@mixin hind-500 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
}

@mixin mukuta-400 {
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 400;
}

@mixin mukuta-500 {
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 500;
}

@mixin mukuta-700 {
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 700;
}
