/**
 * Variables
*/

/* Typography */
/* Breakpoints */

/* Paths */
/* Grid setup */
/* Colour palette */
$colorAcent: #201F1D;
$colorBtn: #B81F26;
$colorBorder: #E4101A;
$colorInDarkFon: #F5F6F0;

/* Components */
